body {
    background-color: #efefef;
}

.container {
    width: 90%;
}

/* Nav start */
.navbar {
    margin-bottom: 20px;
    border-radius: 0;
    /*background-color: white;*/
    /*color: black;*/
    font-size: 1.3em;
    border: 0;
}

.navbar-brand {
    float: left;
    min-height: 60px;
    padding: 14px 60px 15px;
}

.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover
{
    /*margin-bottom: 5px;*/
    border: 5px solid black;
    /*background-color: white;*/
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    /*margin-top: 5px;*/
}

nav>li>a {
    position: relative;
    display: block;
    padding: 15px 30px;
}


@media screen and (max-width:600px) {
    .navbar-brand {
        padding: 14px 35px 15px
    }
}

.informationColumn{
    height: 100%;
}

.articleColumn{
    /*box-sizing: padding-box;*/
}
#avatar{
    margin-left: auto;
    margin-right:auto;
    display:block;
}
.contentCard {
    margin-right:15px;
    margin-left:15px;
    border-radius: 6px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 16px;
}
.contentCard02 {
    margin-right:15px;
    margin-left:15px;
    border-radius: 6px;
    background-color: white;

    padding: 20px 50px;
    margin-bottom: 16px;
}

.userInfor {
    padding-top: 10%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.userInforRow {
    padding-bottom: 6px;
    padding-top: 6px;
}
.userInforTitle {
    display: inline;
    padding-right: 30px;
    font-size: 1.2em;
}
.userInforDetail {
    display: inline;
    font-size: 1.2em;
}
.card-title{
    margin-top: 10px;
    border-bottom: 1px solid white;
}
.author {
    color: darkgray;
}
.articleFooter {
    color: darkgray;
    font-size: 1.2em;
    padding-top: 10px;
    margin-bottom: 10px;
}
#myCarousel{
    margin-right:15px;
    margin-left:15px;
    margin-bottom: 20px;
}